.vscode/**
.vscode-test/**
src/**
../src/**
../python/**
../dist-python/**
../homebrew/**
../scoop/**
../scripts/**
../build/**
../node_modules/**
../*.ts
../tsconfig.json
../setup.py
../pyproject.toml
../package-lock.json
../README.md
esbuild.js
tsconfig.json
**/*.map
**/*.ts
!dist/**/*.js
